{block icon}<i class="far fa-file-lines"></i>{/block}
{block title}{_'textPageModule.title'}{/block}
{block action}{_'textPageModule.overview.title'}{/block}

{block content}

<div class="row mb-4">
	<div class="col-12">
		<span class="h2 float-start">{include icon} <span class="d-none d-md-inline">{include title}</span> &raquo; {include action}</span>
		<a n:if="$isUserAllowedToAdd" n:href=":TextPage:Add:default" class="btn btn-success float-end">
			<i class="fa fa-plus"></i>
			<span class="d-none d-lg-inline">{_'textPageModule.overview.new'}</span>
		</a>
	</div>
</div>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{_'textPageModule.overview.table.head.title'}</th>
				<th>{_'textPageModule.overview.table.head.slug'}</th>
				<th n:if="$isUserAllowedToEdit || $isUserAllowedToDelete">{_'textPageModule.overview.table.head.actions'}</th>
			</tr>
		</thead>
		<tbody n:snippet="rows">
			{foreach $items as $id => $item}
				<tr n:snippet="row-{$id}">
					<td>{$item->getTitle()}</td>
					<td>{$item->getSlug()}</td>
					<td>
						<a n:if="$isUserAllowedToEdit" n:href=":TextPage:Edit:default $id" class="btn btn-sm btn-dark">
							<span class="d-none d-lg-inline">{_'textPageModule.overview.table.body.action.edit'}</span>
							<i class="fa fa-edit"></i>
						</a>
						<a n:if="$isUserAllowedToDelete" n:href="delete! $id" class="btn btn-sm btn-danger">
							<span class="d-none d-lg-inline">{_'textPageModule.overview.table.body.action.delete'}</span>
							<i class="far fa-trash-can"></i>
						</a>
					</td>
				</tr>
			{/foreach}
		</tbody>
	</table>
</div>
