{block icon}<i class="far fa-file-lines"></i>{/block}
{block title}{_'textPageModule.title'}{/block}
{block action}{_'textPageModule.add.title'}{/block}

{block content}

<h2 class="mb-4"><a n:href=":TextPage:Overview:default" class="text-decoration-none text-primary">{include icon} <span class="d-none d-md-inline">{include title}</span></a> &raquo; {include action}</h2>

<div n:snippet="addForm">
    {form addForm}
        <div class="row mb-3">
            <div class="col-12 col-md-3">
                {label title, "class" => "form-label" /}
            </div>

            <div class="col">
                {input title, "class" => "form-control"}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                {label content, "class" => "form-label" /}
            </div>
            <div class="col">
                {input content, "class" => "form-control wysiwyg"}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                {label slug, "class" => "form-label" /}
            </div>

            <div class="col">
                {input slug, "class" => "form-control"}
            </div>
        </div>

        {input submit, "class" => "btn btn-primary"}
    {/form}
</div>
